# Emacs stuff
*~
\#*\#
.\#*

# C++
*.o
*.d
*.slo
*.lo
*.obj
*.gch
*.pch

# Libraries
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build

# binaries
musiceditor

# profiling
gmon.out
