# Emacs stuff
*~
\#*\#
.\#*

# C++
*.o
*.d
*.slo
*.lo
*.obj
*.gch
*.pch

# Libraries
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
build
build-*

# binaries
musiceditor

# tools/e2e's compiled ALSA-simulator binaries (only the .c sources are checked in)
tools/e2e/fake_launchpad
tools/e2e/fake_launchpad_chord
tools/e2e/fake_launchpad_perc
tools/e2e/fake_launchpad_button
tools/e2e/fake_launchpad_hotplug
tools/e2e/fake_launchpad_device
tools/e2e/fake_launchpad_draw_clear
tools/e2e/*.log
tools/e2e/__pycache__

# local soundfonts / HRTF data
data

# profiling
gmon.out
